*{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
title{
    position: absolute;
    display: none;
}
h1{
    font-size: 2em;
}
box{
    position: relative;
    box-sizing: border-box;
    padding: 10%;
    display: flex;
    background-color: rgba(99, 255, 232, 0.18);
    #border: 2px solid #791f1f;
    border-radius: 10px;
    font-size: 1em;
}
block{
    background-color: #e1e1e1;
    border: 2px solid #7e4e4e;
    padding: 5%;
    margin: 5%;
}
form{
	position: relative;
	display: flex;
    flex-direction: column;

}
label{
    margin-bottom: 5%;
    margin-top: 5%;
}
