<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <box>
        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">LOG IN</button>
        </form>

    </box>
</body>
</html>